<script async src="https://cse.google.com/cse.js?cx=46a4f48e3fd6e4651"></script>
<div class="w-full">
  <div class="flex flex-row">
    <div class="basis-1/3 mx-5">
      <div class="my-5">
        <div class="gcse-searchbox"></div>
      </div>
      <div data-controller="search-results">
        <div class="gcse-searchresults"></div>
      </div>
    </div>
    <div id="recipe-form" class="basis-2/3 mx-5">
      <%= render "form", recipe: @recipe %>
    </div>
  </div>
</div>