<div class="mx-auto md:w-4/5 w-full form-container lg:px-20 p-5">

  <h1 class="font-bold text-2xl lg:text-4xl text-secondary text-start">Create your recipe</h1>

  <%= render "form", recipe: @recipe %>

  <%= link_to recipes_path, class: "inline-flex items-center ml-2 rounded-lg py-2 px-3 inline-block font-medium text-secondary hover:text-white border border-secondary hover:bg-secondary" do %>
    <%= render_icon "micro/arrow_uturn_left", classes: "me-1" %> Cancel
  <% end %>
</div>
