<script async src="https://cse.google.com/cse.js?cx=46a4f48e3fd6e4651"></script>
<div class="mx-auto md:w-4/5 w-full form-container lg:px-20 p-5">
  <h1 class="font-bold text-2xl lg:text-4xl text-secondary text-start">Import recipe</h1>

  <div class="w-full">
    <div class="my-5" data-controller="search-input">
      <div class="gcse-searchbox"></div>
    </div>
    <div data-controller="search-results">
      <div class="gcse-searchresults"></div>
    </div>
  </div>
</div>
