name: Publish Docker image

on:
  push:
    branches: [ "**" ]
  workflow_dispatch:

env:
  is_main_branch: ${{ github.ref == 'refs/heads/main' }}
  is_staging_branch: ${{ github.ref == 'refs/heads/staging' }}

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ vars.IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable=${{ fromJSON(env.is_main_branch) }}
            type=ref,event=branch,enable=${{ fromJSON(env.is_staging_branch) }}
            type=sha,prefix=,enable=${{ !fromJSON(env.is_main_branch) && !fromJSON(env.is_staging_branch) }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: ${{ fromJSON(env.is_main_branch) || fromJSON(env.is_staging_branch) }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: push_to_registry
    steps:
      - name: Deploy to Staging
        if: ${{ fromJSON(env.is_staging_branch) }}
        env:
          deploy_url: ${{ secrets.STAGING_DEPLOY_HOOK_URL }}
        run: |
          curl "$deploy_url"
